@import url(https://fonts.googleapis.com/css?family=Kanit:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito:regular&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2"),url(../fonts/icons.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]:before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
[class*=_icon-]:before {
  display: block
}
._icon-s-instagram:before {
  content: "\e900"
}
._icon-s-linkedin:before {
  content: "\e901"
}
._icon-s-twitter:before {
  content: "\e902"
}
._icon-s-facebook:before {
  content: "\e903"
}
._icon-a-right:before {
  content: "\e904"
}
._icon-star-past:before {
  content: "\e905"
}
._icon-star:before {
  content: "\e906"
}
._icon-play:before {
  content: "\e907"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Nunito;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Nunito;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #333
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 73.125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu {
  flex-grow: 1
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .9375rem;
  justify-content: flex-end
}
.menu__link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all .3s ease-in-out
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.label {
  font-family: Kanit,sans-serif;
  color: #6d7d7d;
  letter-spacing: .4375rem;
  text-transform: uppercase
}
.label--margin:not(:last-child) {
  margin-bottom: .3125rem
}
.title {
  font-family: Kanit,sans-serif;
  font-size: 2.5rem
}
.title--margin:not(:last-child) {
  margin-bottom: 1.25rem
}
.text--margin:not(:last-child) {
  margin-bottom: 1.25rem
}
.text p:not(:last-child) {
  margin-bottom: .625rem
}
.button {
  padding: .5rem 1.6875rem;
  max-width: 14.3125rem;
  letter-spacing: .4375rem;
  text-align: center;
  border: .0625rem solid #6d7d7d;
  border-radius: 6.25rem;
  text-transform: uppercase;
  background-color: transparent;
  transition: all .3s ease-in-out
}
.button--w-269 {
  max-width: 16.8125rem
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding-bottom: 1.25rem
}
.header._header-scroll {
  transition: all .3s ease-in-out;
  background-color: rgba(0,0,0,.8)
}
.header__container {
  padding-top: 2rem;
  display: flex;
  align-items: center
}
.header__container > .button {
  flex-shrink: 0
}
.logo {
  flex-shrink: 0;
  font-family: Kanit,sans-serif;
  letter-spacing: .4375rem;
  position: relative;
  z-index: 2
}
.footer {
  background-color: #191d1d
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.footer__copy {
  line-height: 1.2
}
.footer__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .625rem
}
.footer__link {
  transition: all .3s ease-in-out
}
.no-webp .hero {
  background: url(../img/hero-bg.jpg) center center/cover no-repeat
}
.hero {
  padding-bottom: 4.25rem;
  min-height: 43.0625rem
}
.hero__container {
  display: flex;
  justify-content: space-between;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.hero__container > .head-content .text--margin:not(:last-child) {
  margin-bottom: 2.625rem
}
.hero__container > .head-content .head-content__play {
  width: 4.3125rem;
  height: 4.3125rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .0625rem solid #6d7d7d;
  transition: all .3s ease-in-out
}
.hero__container > .head-content .head-content__play::before {
  font-size: 1.5625rem;
  transition: all .3s ease-in-out
}
.hero__swipe-down {
  display: inline-block;
  letter-spacing: .4375rem;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl
}
@media (min-width:47.99875em) {
  .hero__container > .head-content {
    flex-basis: 35.625rem
  }
}
@media (min-width:73.125em) {
  .menu__list {
    -webkit-column-gap: 3.4375rem;
    -moz-column-gap: 3.4375rem;
    column-gap: 3.4375rem
  }
  .header__container {
    -webkit-column-gap: 3.25rem;
    -moz-column-gap: 3.25rem;
    column-gap: 3.25rem
  }
  .footer__container {
    padding-top: 3.125rem
  }
  .footer__container {
    padding-bottom: 3.125rem
  }
  .footer__list {
    -webkit-column-gap: 5.75rem;
    -moz-column-gap: 5.75rem;
    column-gap: 5.75rem
  }
  .hero {
    padding-top: 16.875rem
  }
  .hero__swipe-down {
    padding-bottom: 12.5rem
  }
}
@media (max-width:48em) {
  .hero {
    padding-top: 7.5rem
  }
  .hero__swipe-down {
    padding-bottom: .0000000625rem
  }
}
@media (max-width:20em) {
  .footer__container {
    padding-top: 1.25rem
  }
  .footer__container {
    padding-bottom: 1.25rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background-color: rgba(0,0,0,.8)
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.75rem;
    align-items: flex-end
  }
  .menu__link {
    font-size: 2rem;
    text-transform: uppercase
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .footer__container {
    flex-direction: column-reverse;
    row-gap: 1.875rem
  }
  .hero__container {
    flex-direction: column-reverse;
    row-gap: 3.125rem
  }
}
@media (max-width:47.9375em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .header__container {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .footer__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
}
@media (any-hover:hover) and (max-width:47.99875em) {
  .menu__link:hover {
    -webkit-transform: translateX(-.3125rem);
    transform: translateX(-.3125rem)
  }
  .button:hover {
    background-color: rgba(255,255,255,.2)
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .menu__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end
  }
  .menu__list:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .footer__copy {
    text-align: center
  }
}
@media (min-width:47.9375em) and (max-width:73.125em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,-2.9133064516rem + 8.6848635236vw ,3.4375rem)) or (column-gap:clamp(1.25rem ,-2.9133064516rem + 8.6848635236vw ,3.4375rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.25rem ,-2.9133064516rem + 8.6848635236vw ,3.4375rem);
      -moz-column-gap: clamp(1.25rem ,-2.9133064516rem + 8.6848635236vw ,3.4375rem);
      column-gap: clamp(1.25rem ,-2.9133064516rem + 8.6848635236vw ,3.4375rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-2.9133064516rem + 8.6848635236vw ,3.4375rem)) or (column-gap:clamp(1.25rem ,-2.9133064516rem + 8.6848635236vw ,3.4375rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 2.1875 * (100vw - 47.9375rem)/ 25.1875);
      -moz-column-gap: calc(1.25rem + 2.1875 * (100vw - 47.9375rem)/ 25.1875);
      column-gap: calc(1.25rem + 2.1875 * (100vw - 47.9375rem)/ 25.1875)
    }
  }
  @supports ((-moz-column-gap:clamp(1.5625rem ,-1.6491935484rem + 6.699751861vw ,3.25rem)) or (column-gap:clamp(1.5625rem ,-1.6491935484rem + 6.699751861vw ,3.25rem))) {
    .header__container {
      -webkit-column-gap: clamp(1.5625rem ,-1.6491935484rem + 6.699751861vw ,3.25rem);
      -moz-column-gap: clamp(1.5625rem ,-1.6491935484rem + 6.699751861vw ,3.25rem);
      column-gap: clamp(1.5625rem ,-1.6491935484rem + 6.699751861vw ,3.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,-1.6491935484rem + 6.699751861vw ,3.25rem)) or (column-gap:clamp(1.5625rem ,-1.6491935484rem + 6.699751861vw ,3.25rem))) {
    .header__container {
      -webkit-column-gap: calc(1.5625rem + 1.6875 * (100vw - 47.9375rem)/ 25.1875);
      -moz-column-gap: calc(1.5625rem + 1.6875 * (100vw - 47.9375rem)/ 25.1875);
      column-gap: calc(1.5625rem + 1.6875 * (100vw - 47.9375rem)/ 25.1875)
    }
  }
  @supports ((-moz-column-gap:clamp(1.875rem ,-5.5rem + 15.3846153846vw ,5.75rem)) or (column-gap:clamp(1.875rem ,-5.5rem + 15.3846153846vw ,5.75rem))) {
    .footer__list {
      -webkit-column-gap: clamp(1.875rem ,-5.5rem + 15.3846153846vw ,5.75rem);
      -moz-column-gap: clamp(1.875rem ,-5.5rem + 15.3846153846vw ,5.75rem);
      column-gap: clamp(1.875rem ,-5.5rem + 15.3846153846vw ,5.75rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,-5.5rem + 15.3846153846vw ,5.75rem)) or (column-gap:clamp(1.875rem ,-5.5rem + 15.3846153846vw ,5.75rem))) {
    .footer__list {
      -webkit-column-gap: calc(1.875rem + 3.875 * (100vw - 47.9375rem)/ 25.1875);
      -moz-column-gap: calc(1.875rem + 3.875 * (100vw - 47.9375rem)/ 25.1875);
      column-gap: calc(1.875rem + 3.875 * (100vw - 47.9375rem)/ 25.1875)
    }
  }
}
@media (min-width:20em) and (max-width:73.125em) {
  @supports (padding-top:clamp(1.25rem ,0.5441176471rem + 3.5294117647vw ,3.125rem)) {
    .footer__container {
      padding-top: clamp(1.25rem ,.5441176471rem + 3.5294117647vw ,3.125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.5441176471rem + 3.5294117647vw ,3.125rem)) {
    .footer__container {
      padding-top: calc(1.25rem + 1.875 * (100vw - 20rem)/ 53.125)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.5441176471rem + 3.5294117647vw ,3.125rem)) {
    .footer__container {
      padding-bottom: clamp(1.25rem ,.5441176471rem + 3.5294117647vw ,3.125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.5441176471rem + 3.5294117647vw ,3.125rem)) {
    .footer__container {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem)/ 53.125)
    }
  }
}
@media (min-width:48em) and (max-width:73.125em) {
  @supports (padding-top:clamp(7.5rem ,-10.4104477612rem + 37.3134328358vw ,16.875rem)) {
    .hero {
      padding-top: clamp(7.5rem ,-10.4104477612rem + 37.3134328358vw ,16.875rem)
    }
  }
  @supports not (padding-top:clamp(7.5rem ,-10.4104477612rem + 37.3134328358vw ,16.875rem)) {
    .hero {
      padding-top: calc(7.5rem + 9.375 * (100vw - 48rem)/ 25.125)
    }
  }
  @supports (padding-bottom:clamp(0.0000000625rem ,-23.880596833rem + 49.7512435323vw ,12.5rem)) {
    .hero__swipe-down {
      padding-bottom: clamp(.0000000625rem ,-23.880596833rem + 49.7512435323vw ,12.5rem)
    }
  }
  @supports not (padding-bottom:clamp(0.0000000625rem ,-23.880596833rem + 49.7512435323vw ,12.5rem)) {
    .hero__swipe-down {
      padding-bottom: calc(.0000000625rem + 12.4999999375 * (100vw - 48rem)/ 25.125)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    text-decoration-color: #fff
  }
  .button:hover {
    background-color: rgba(0,0,0,.2)
  }
  .footer__link:hover {
    color: #fff
  }
  .hero__container > .head-content .head-content__play:hover {
    background-color: rgba(255,255,255,.2)
  }
}
.webp .hero {
  background: url(../img/hero-bg.webp) center center/cover no-repeat
}